module.exports = {
  "APP_ID" : -1,
  "APP_SECRET" : "TO BE SET",
  "VK_REDIRECT_URI" : "TO BE SET",
  "POST_LOGIN_REDIRECT" : "http://localhost:3000/",
  "POSTGRES_CONNECTION_STRING": "TO BE SET",
  "GOOGLE_MAPS_KEY": "TO BE SET"
}
